<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/estilo.css">
</head>

<body>

  <section class="login">

    <div class="container">
      <div class="logo">
        logo
      </div>

      <h2>Faça o login</h2>

      <div class="formulario">
        <form action="#" method="post">
          <input type="text" placeholder="Usuário">
          <input type="password" placeholder="Senha">
          <button>Login</button>
        </form>
      </div>
    </div>

  </section>


</body>

</html>